apiVersion: apps/v1
kind: Deployment
metadata:
  name: triton-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: triton
  template:
    metadata:
      labels:
        app: triton
    spec:
      containers:
        - name: triton
          image: nvcr.io/nvidia/tritonserver:23.10-py3
          args: ["tritonserver", "--model-repository=/models"]
          volumeMounts:
            - name: model-repo
              mountPath: /models
          ports:
            - containerPort: 8001
            - containerPort: 8000
            - containerPort: 8002
          resources:
            limits:
              nvidia.com/gpu: 1
            requests:
              cpu: 1000m
              memory: 4Gi
      volumes:
        - name: model-repo
          hostPath:
            path: /models
            type: DirectoryOrCreate
